.jumbotron {
  padding-bottom: 30px;
  padding-top: 30px;

  p {
    font-weight: inherit;
  }
}

.jumbotron-primary {
  margin-bottom: 150px;
  background-color: @blue-jumbotron;
  background-image: url('../img/overlay-jumbotron.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  h1 {
    color: @blue;
  }

  .banner {
    h1, h2 {
      display: inline-block;
      padding: 13px 25px 8px 25px;
    }

    h1 {
      background: #fff;
      font-weight: 600;
      margin-bottom: 0;
    }

    h2 {
      background: @red;
      font-size: 36px;
      font-weight: 600;
      margin-top: 5px;
    }
  }

  .panel {
    border-bottom: 3px solid #e0e0e0;
    color: @dark-text;

    @media (min-width: 1200px) {
      margin-top: 20px;
    }

    h1 {
      margin-top: 0;
    }

    h4 {
      font-size: 15px;
      margin: 25px 0 5px 0;
    }

    input[type="text"] {
      padding: 5px;
      width: 100%;
      margin: 0 0 5px 0;
    }

    button, a {
      margin-top: 25px;
    }
  }

  .panel-host {
    margin-bottom: -150px;
  }



  .countdown {
    margin-top: 80px;
    margin-bottom: 5px;
    text-align: center;

    h3 {
      color: #fff;
      font-weight: 200;
    }

    .countdown-primary, .countdown-secondary, .countdown-separator {
      display: inline-block;
      text-align: center;

      .value {
        font-size: 36px;
        font-weight: 300;
        line-height: 1;
      }

      @media (min-width: 768px) {
        .value {
          font-size: 63px;
        }
      }
    }
  }

  .countdown-primary,
  .countdown-secondary {
    width: 4em;

    @media (min-width: 768px) {
      width: 6em;
    }
  }

  .countdown-separator {
    vertical-align: top;
  }
}