.jumbotron {
  padding-bottom: 30px;
  padding-top: 30px;

  p {
    font-weight: inherit;
  }
}

.jumbotron-primary {
  margin-bottom: 150px;
  background-color: @blue-jumbotron;
  background-image: url('../img/overlay-jumbotron.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  h1 {
    color: @blue;
  }

  .banner {
    h1, h2 {
      display: inline-block;
      padding: 13px 25px 8px 25px;
    }

    h1 {
      background: #fff;
      font-weight: 600;
      margin-bottom: 0;
    }

    h2 {
      background: @red;
      font-size: 36px;
      font-weight: 600;
      margin-top: 5px;
    }
  }

  .panel {
    @media (min-width: 1200px) {
      margin-top: 20px;
    }
    position:relative;
    border-bottom: 3px solid #e0e0e0;
    color: @dark-text;
    .form-loading-circle-container {
      z-index:1;
      width:100%;
      height: 100%;
      position: absolute;
      background-color:rgba(255, 255, 255, 0.7);
      //reusable 
      .loading-circle {
        position:absolute; 
        left:50%; 
        top:50%; 
        transform:translate(-50%, -50%); 
        text-align:center;
        .outer-circle { width:5rem; height:5rem; } 
          .inner-circle { box-sizing:border-box; border:0 solid #1E88E5; width:100%; height:100%; border-radius:50%; will-change:opacity, border; animation:loading-circle-anim 1s infinite ease-in-out; }
            .loading-text { color:@blue; font-size:1.2rem; }
      }
    }
    &-body {
      position: relative;
      &.success-message, &.error-message {
        padding-bottom:100px;
      }
      .svg-success-wrapper {
        position:absolute;
        bottom:20px;
        left:50%;
        transform: translateX(-50%);
       
        #successAnimationCircle {
          stroke-dasharray: @circle-length @circle-length;
          stroke:@blue;
        }
        
        #successAnimationCheck {
          stroke-dasharray: @check-length @check-length;
          stroke: @blue;
        }
        
        #successAnimationResult {
          fill: @blue;
          opacity: 0;
        }
        
        #successAnimation.animated {
          animation: 1s ease-out 0s 1 both scaleAnimation;
          
          #successAnimationCircle {
            animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
                       0.3s linear 0.9s 1 both fadeOut;
          }
          
          #successAnimationCheck {
            animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
                       0.3s linear 0.9s 1 both fadeOut;
          }
          
          #successAnimationResult {
            animation: 0.3s linear 0.9s both fadeIn;
          }
        }
        
      }
      .svg-error-wrapper {
        position:absolute;
        bottom:20px;
        left:50%;
        transform: translateX(-50%);
       
        #successAnimationCircle {
          stroke-dasharray: @circle-length @circle-length;
          stroke:@red;
        }
        
        #successAnimationCheck {
          stroke-dasharray: @check-length @check-length;
          stroke: @red;
        }
        
        #successAnimationResult {
          fill: @red;
          opacity: 0;
        }
        
        #successAnimation.animated {
          animation: 1s ease-out 0s 1 both scaleAnimation;
          
          #successAnimationCircle {
            animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
                       0.3s linear 0.9s 1 both fadeOut;
          }
          
          #successAnimationCheck {
            animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
                       0.3s linear 0.9s 1 both fadeOut;
          }
          
          #successAnimationResult {
            animation: 0.3s linear 0.9s both fadeIn;
          }
        } 

      }
    }
    

    h1 {
      margin-top: 0;
    }

    h4 {
      font-size: 15px;
      margin: 25px 0 5px 0;
    }

    input {
      &:focus {
        outline-color:@blue;
        &:invalid {
          outline-color:@red;
        }
      }
      
      padding: 5px;
      width: 100%;
      margin: 0 0 5px 0;
    }
    .bottom-buttons {
      margin-top:20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      button, a {
        flex-basis: 40%;
        line-height: 1.4;
        @media all and (max-width:480px){
          font-size:14px;
          padding:10px;

        }
      }
    }
    
  }

  .panel-host {
    margin-bottom: -150px;
  }



  .countdown {
    @media (min-width: 768px) {
      margin-top: 80px;
    }
    margin: 20px 0;
    text-align: left;

    h3 {
      text-align:left;
      color: #fff;
      font-weight: 200;
    }

    .countdown-primary, .countdown-secondary, .countdown-separator {
      display: inline-block;
      text-align: center;

      .value {
        font-size: 36px;
        font-weight: 300;
        line-height: 1;
      }

      @media (min-width: 768px) {
        .value {
          font-size: 63px;
        }
      }
    }
  }

  .countdown-primary,
  .countdown-secondary {
    width: 4em;

    @media (min-width: 768px) {
      width: 6em;
    }
  }

  .countdown-separator {
    vertical-align: top;
  }
}

@keyframes loading-circle-anim {
	0% { border-width:0; }
	50% { border-width:2.5rem; opacity:0.5; }
	100% { border-width:0; opacity:1; }
}

@circle-length: 151px;
@check-length: 36px;

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: @circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: @check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
