
.navbar-brand {
  display: inline-block;
  padding:1rem;
  img {
    display: block;
    height: 100%;
  }
}

.navbar-default .navbar-nav {
  li {
    font-size: 1em;
    margin-right: 18px;
    text-transform: uppercase;
    font-weight: 600;

    a {
      color: @dark-text;
    }
  }
}