body {
  line-height: 1.5;
  color: @dark-text;
}

input {
  border-width: 1px;
  border-color: @light-grey;
}

.irs {
  margin: 60px 0;
}

a {
  color: @blue;

  &:focus, &:hover {
    text-decoration: underline;
    color: @blue-lighter;
  }
}

.comunicate, .descriere {
  background-color: #d7e6f2;
}

.descriere {
  padding: 60px 0;

  .container {
    background-color: #fff;
    padding: 0;
  }

  .detalii, .pasi {
    padding: 30px 60px;
  }

  .detalii {
    h1 {
      color: @blue;
    }

    p {
        margin: 20px 0;
    }

    .slick-dots {
      text-align: right;

      li button::before {
        background-color: #000;
        border-radius: 10px;
        content: "";
      }

      li.slick-active button::before {
        background-color: @blue;
      }
    }
  }

  .pasi {
    background-image: url('../img/background-pasi.png');
    background-size: cover;
    color: #fff;
    font-size: 16px;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 20px 0;
        display:flex;
        align-items: center;

        .bifa, .numar {
          flex-basis: 40px; 
          height: 40px;
        }

        .bifa {
          background-image: url('../img/bifa.png');
          background-repeat: no-repeat;
          background-position: center center;
        }

        .numar {
          line-height:1.4;
          font-size: 30px;
          font-weight: 700;
          border-radius: 50%;
          text-align: center;
          color: @blue-even-lighter;
          background-color: #fff;
        }
        .descriere-etapa {
          flex-basis:calc(100% - 50px);
          flex-shrink: 2;
          padding-left:10px;
          display:inline;
          vertical-align:middle;
        }
      }
    }
  }
}

.harta {
  margin: 20px 0;
  padding: 20px 0;
  background-image: url('../img/overlay-harta.png');
  background-position: center center;
  background-color: @blue;
  color: #fff;

  h1 {
    margin-top: 100px;
  }

  .maps {
    position: relative;
  }

  .map {
    margin-bottom: 30px;

    .label {
      text-align: center;
    }
  }

  .map-ro {
    @media (min-width: 992px) {
      margin-bottom: 0;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 25px;
      padding-right: 90px;
    }

    @media (min-width: 1200px) {
      padding-right: 120px;
    }
  }

  #map-ro {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .map-diaspora {
    position: absolute;
    right: 0;
    top: 15px;

    @media (min-width: 480px) {
      top: 60px;
    }

    @media (min-width: 992px) {
      right: 60px;
    }
  }

  #map-diaspora {
    height: 30px;
    margin: 0 auto 10px;
    width: 30px;

    @media (min-width: 480px) and (max-width: 767px) {
      height: 60px;
      width: 60px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      height: 90px;
      width: 90px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      height: 60px;
      width: 60px;
    }

    @media (min-width: 1200px) {
      height: 90px;
      width: 90px;
    }
  }
}

.tooltip-harta {
  position: absolute;
  padding: 20px;
  max-width: 42em;
  z-index: 10;
  background: #fff;
  border: none;
  border-radius: 0;
  color: @dark-text;

  p {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  dl,
  ul {
    margin-bottom: 0;
  }
}

.comunicate {
  padding: 20px 0;

  h2 {
    color: @blue;
  }

  .comunicat {
    background-color: #fff;
    height: 450px;
    margin: 0;
    padding: 0;

    a {
      display: block;
    }

    img {
      max-width: 100%;
      max-height: 200px;
    }

    .corp {
      padding: 20px;
      height: 250px;
      position: relative;

      h3, > span {
        color: @blue;
      }

      h3 {
        font-size: 1.1em;
        line-height: 1.4em;
      }

      span {
        font-size: 0.9em;
      }

      > a {
        position: absolute;
        bottom: 20px;
        color: @red;
        font-weight: 500;
      }

      p {
        text-overflow: ellipsis;
      }
    }
  }

  .footer {
    margin-top: 15px;
    text-align: center;

    .mai-multe {

    }
  }
}

.doneaza {
  padding: 100px 0;
  background-color: @blue;
  background-image: url('../img/overlay-doneaza.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: none;
  color: #fff;

  h1 {
    margin-top: 0;
  }
}

.social-media {
  color: #fff;
  display: none;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;

  a {
    color: inherit;
    display: block;
    padding: 10px 15px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  img {
    display: block;
    margin: 0 auto 10px;
    max-width: 28px;
  }

  .facebook {
    background-color: #3664a2;
  }
}

@media (min-width: 992px) {
  .social-media {
    display: block;
  }
}

.media-list {
  margin-top: 60px;

  .media-heading {
    text-align: center;
  }

  @media (min-width: 992px) {
    .media-heading {
      text-align: left;
    }
  }
}

.list-checkbox {
  margin-bottom: 20px;
}
