.page-grupul-de-initiativa {
  .grupul-de-initiativa {
      .tab-content h3 {
        color: @blue;
      }

      .membri {
        list-style: none;

        li {
          width: 100%;
          overflow: hidden;
          border-bottom: 1px solid @blue-dull;

          &:last-child, &:first-child {
            border-bottom: none;
          }

          a {
            text-align: left;
            color: @dark-text;

            span {
              display: none;
            }
          }

          &.active a {
            color: @blue;
            font-weight: 700;

            span {
              display: inline-block;
            }
          }

          img {
            height: 43px;
            width: 43px;
            max-height: 100%;
            vertical-align: middle;
          }

          span {
            float: right;
            margin-top: 11px;
          }
        }
    }

    .tab-content {
      padding-left: 15px;
      border-left: 1px solid @blue-dull;
    }
  }
}
